#transcription {
	
}

.textline {
    margin-left: 500px;
    margin-right: 500px;
    font-family: Arial;
	color: #414141;
	font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.headline {
    margin-left: 500px;
    margin-right: 500px;
    font-family: Arial;
	color: #414141;
	font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#textmenue {
    position: fixed;
    bottom: 100px;
	margin: 20px;
	width: 10vh;
	height: 20vh;
	background: #2980B9;
	display: none;
	z-index: 0;
	text-align: center;
    border-radius: 50px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 1px 4px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2980B9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 0px;
}

.btn:hover {
  background: #7db3d4;
  text-decoration: none;
}

#btn1 {
    margin-top: 20px;
    font-weight: bold;
}
#btn2 {
    font-style: italic;
}
#btn3 {
    text-decoration: underline;
}