*,
*:after,
*:before
{
    box-sizing: border-box;
}

@font-face {
    font-family: "BelindaW00-Regular"; 
    src: url(BelindaW00-Regular.ttf); 
}

a {
    text-decoration: none;
    color: white;
}

#content { 
    margin-top: 50px;
}

#content-button {
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none;
    color: #000;
	background: #FFFFFF;
}

#content-button:hover{
    background: rgba(255,255,255,0.65);
	transition: 0.3s;
}
/*------*/
.wrapper{
   width:900px;   
}
 
.table{
   display:table;   
   width:900px;
}
 
.row{
   display:inline;   
}
 
.col{
    display:table-cell;
    border:1px solid black;
}
 
.c75{
   width:700px;
	text-align: center;   
}
 
.c25{
   width:200px;   
}

#text-table-projekt{
	padding: 0;
	text-align: top; 
}
/*------*/


#top-menu {
    background: #454455;
    height: 50px;
    position: fixed;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    padding: 0;
    min-width: 900px;
}

.button {
    background-color: #454455;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    float: left;
    height: 100%;
    margin-left: 50px;
    transition: font-size 0.3s;
}

.button:hover {
    background-color: #333333;
    font-size: 20px;
}

#text{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    font-size: 88px;
    margin: 0;
    padding: 0;
    line-height: 1.08em;
    font-family: "BelindaW00-Regular";
    color: white;

}

#startseite {
    background: url(images/coffee.jpg) no-repeat;
	background-size: 100%;
    height: 140vh;
    margin-top: 50px;
	text-align: center;
}

#app {
    background: #ECEAE9;
    height: 100vh;
    margin-top: 40px;
}

#projekt {
    background: #ECEAE9;
	text-align: center;
	height: 200vh;
	padding: 50px;
}

#projekt-foto{
	width: 100%;
}

#projekt-text-titel{
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    font-size: 55px;
    margin: 0;
    padding: 0;
    line-height: 1.08em;
    font-family: "BelindaW00-Regular";
}

#projekt-text-p{
	font-style: italic;
    font-stretch: normal;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#projekt-text-link{
	text-align: center;
	color: black;
	text-decoration: none;
	transition: 0.3s;
}

#projekt-text-link:hover{
	opacity: 0.3;
}

#projekt-text-link{
	
}

#team {
    background: #DCDCDC;
	padding: 50px;
}

#hilfe {
    background: #ECEAE9;
    height: 100vh;
    margin-top: 40px;
}

#impressum {
    background: #ECEAE9;
    height: 150vh;
}

#unsupportedmain {
    background: #ECEAE9;
    height: 100vh;
}

#footer {
    background: #454455;
    height: 15vh;
}

#footer-center {
	text-align:  center;
	padding: 10px;
}

#text-footer {
	color: #D7D7D7;
	font-size: 11px;
}

#unsupportedbig {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.08em;
}
#unsupportedsmall {
	font-size: 20px;
	margin-top: 90px;
	margin-bottom: 90px;
	text-align: center;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.08em;
}
#unsupportedbrowser {
	height: 64px;
	width: 64px;
	transition: transform .8s ease-in-out;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}
#unsupportedbrowser:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
