*,
*:after,
*:before
{
    box-sizing: border-box;
}

@font-face {
    font-family: "BelindaW00-Regular"; 
    src: url(../fonts/BelindaW00-Regular.ttf); 
}

a {
    text-decoration: none;
    color: white;
}

#content { 
    margin-top: 50px;
}

#content-button {
	height: 50px; 
	width: 200px;
    display: inline-block;
    padding: 12px 15px;
    text-decoration: none;
    color: #000;
	background: #FFFFFF;
	font-size: 20px;
}

#content-button:hover{
    background: rgba(255,255,255,0.65);
	transition: 0.3s;
}
/*------*/
.wrapper{
	width:900px;  
    margin: 50px;
    padding: 0;  
	text-align: center;	
}
 
.table{
   display:table;   
   width:900px;
}
 
.row{
   display:inline;   
}
 
.col{
    display:table-cell;
}
 
.c75{
    width:700px;
	text-align: center;   
}
 
.c25{
    width:200px;
	text-align: center;
	vertical-align: middle;
}
.zwischen{
	padding: 25px;
}

#text-table-projekt{
	padding: 0;
	text-align: top; 
}
/*------*/


#top-menu {
	z-index: 1;
    background: #454455;
    height: 50px;
    position: fixed;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    top: 0;
    padding: 0;
    min-width: 900px;
}

.button {
    background-color: #454455;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    float: left;
    height: 100%;
    margin-left: 50px;
    transition: font-size 0.3s;
}

.button:hover {
    background-color: #333333;
    font-size: 20px;
}

#text{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    font-size: 88px;
    margin: 0;
    padding: 0;
    line-height: 1.08em;
    font-family: "BelindaW00-Regular";
    color: white;
}

#startseite {
	position: relative;
	opacity: 1;

	background: url(../images/coffee.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;

	min-height: 100%;

	height: 140vh;
	margin-top: 50px;
	text-align: center;
}

#app {
    background: #ECEAE9;
    height: 100vh;
    margin-top: 40px;
}

#projekt {
    background: #ECEAE9;
	text-align: center;
	height: 200vh;
	padding: 50px;
}

#projekt-foto{
	width: 100%;
}

#projekt-text-titel{
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    font-size: 55px;
    margin: 0;
    padding: 0;
    line-height: 1.08em;
    font-family: "BelindaW00-Regular";
}

#projekt-text-p{
	font-style: italic;
    font-stretch: normal;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#projekt-text-link{
	text-align: center;
	color: black;
	text-decoration: none;
	transition: 0.3s;
}

#projekt-text-link:hover{
	opacity: 0.3;
}

#projekt-text-link{
	
}

#team {
    background: #DCDCDC;
	padding: 50px;
}

#hilfe {
    background: #ECEAE9;
    height: 100vh;
    margin-top: 40px;
	width: 100%;
}

#impressum {
    background: #ECEAE9;
    height: 150vh;
}

#unsupportedmain {
    background: #ECEAE9;
    height: 100vh;
}

#footer {
    background: #454455;
    height: 15vh;
}

#footer-center {
	text-align:  center;
	padding: 10px;
}

#text-footer {
	color: #D7D7D7;
	font-size: 11px;
}

#unsupportedbig {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.08em;
}
#unsupportedsmall {
	font-size: 20px;
	margin-top: 90px;
	margin-bottom: 90px;
	text-align: center;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.08em;
}
#unsupportedbrowser {
	height: 64px;
	width: 64px;
	transition: transform .8s ease-in-out;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}
#unsupportedbrowser:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
#hilfe_inhalt1 {
	float: left;
	width: 70%;
	height: 94vh;
	background: #999455;
	margin: 20px;
	display: none;
}
#hilfe_inhalt2 {
	float: left;
	width: 70%;
	height: 94vh;
	background: #900455;
	margin: 20px;
	display: none;
}
#hilfe_inhalt3 {
	float: left;
	width: 70%;
	height: 94vh;
	background: #D7E9EC;
	margin: 20px;
	display: block;
}
#hilfe_rechts {
	position: fixed;
	margin: 20px;
	margin-left: 0px;
	width: 25%;
	height: 70vh;
	background: #333333;
	display: inline;
	z-index: 0;
	text-align: center;
}
#hilfe_input {
	position: absolute;
	bottom: 0;
	display: block;
	margin: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 18px;
	color:  #B0B0B0;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	padding: 10px;
  	border: solid 5px #c9c9c9;
  	transition: border-color 0.3s;
}
#hilfe_input:focus {
	outline: none;
	border: solid 5px #969696;
}
#hilfe_output {
	font-family: sans-serif;
	font-size: 18px;
	margin: 20px;
	color:  #D7D7D7;
}
.linie {
	border :none;
	
	background-color:#D7D7D7;
	height: 2px;
	margin: 0px 50px 0px 50px;
}
.btn {
	font-family: Arial;
	color: #D7D7D7;
	font-size: 20px;
	background: #666666;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	margin-top: 20px;
}
.btn:hover {
  background: #828282;
  text-decoration: none;
}
.btn:focus {
outline: none;
}