*,
*:after,
*:before
{
    box-sizing: border-box;
}

@font-face {
    font-family: "BelindaW00-Regular"; 
    src: url(../fonts/BelindaW00-Regular.ttf); 
}

a {
    text-decoration: none;
    color: white;
}

#blacklink {
    font-family: sans-serif;
	font-size: 18px;
	margin-right: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
	color:  #645cea;
    text-decoration: underline;
}

#content { 
    margin: 0;
}

#content-button {
	height: 50px; 
	width: 200px;
    display: inline-block;
    padding: 12px 15px;
    text-decoration: none;
    color: #000;
	background: #FFFFFF;
	font-size: 20px;
}

#content-button:hover{
    background: rgba(255,255,255,0.65);
	transition: 0.3s;
}
/*------*/
.wrapper{
	width:900px;  
    margin: auto;
	text-align: center;	
}
 
.table{
   display:table;   
   width:900px;
}
 
.row{
   display:inline;   
}
 
.col{
    display:table-cell;
}
 
.c75{
    width:700px;
	text-align: center;   
}
 
.c25{
    width:200px;
	text-align: center;
	vertical-align: middle;
}
.zwischen{
	padding: 25px;
}

#text-table-projekt{
	padding: 0;
	text-align: top; 
}

/* --- Obsolete? --- */

.button {
    background-color: #454455;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    float: left;
    height: 100%;
    margin-left: 50px;
    
}

.button:hover {
    background-color: #333333;
    font-size: 20px;
}

#text{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    font-size: 88px;
    margin: 0;
    padding: 0;
    line-height: 1.08em;
    font-family: "BelindaW00-Regular";
    color: white;
}

#start {
	background: url(../images/gruppenbild.JPG) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
    margin-top: 50px;
	min-height: 100vh;
	text-align: center;
}

#app {
    background: #ECEAE9;
    min-height: 100vh;
    margin-top: 40px;
    display: none;
}

#projekt-foto{
	width: 100%;
}

#projekt-text-titel{
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    text-align: center;
    font-size: 55px;
    margin: 0;
    padding: 0;
    line-height: 1.08em;
    font-family: "BelindaW00-Regular";
}

#projekt-text-p{
	font-style: italic;
    font-stretch: normal;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#projekt-text-link{
	text-align: left;
	color: black;
	text-decoration: none;
	transition: 0.3s;
	font-size: 18px;
}

#projekt-text-link:hover{
	opacity: 0.3;
}

#team {
    background: #DCDCDC;
	padding: 50px;
}

#hilfe {
    background: url(../images/hilfe_bg.svg);
    background-repeat: repeat-x;
	background-size: auto 100%;
    height: 100vh;
    margin-top: 40px;
	width: 100%;
}

#impressum {
    background: #ECEAE9;
    height: 100vh;
}

#unsupportedmain {
    background: #ECEAE9;
    height: 100vh;
}

#unsupportedbig {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.08em;
}
#unsupportedsmall {
	font-size: 20px;
	margin-top: 90px;
	margin-bottom: 90px;
	text-align: center;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1.08em;
}
#unsupportedbrowser {
	height: 64px;
	width: 64px;
	transition: transform .8s ease-in-out;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}
#unsupportedbrowser:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
#hilfe_rechts_outline {
    background: #B2D1EF;
    position: fixed;
    right: 0px;
	margin: 20px;
	margin-left: 0px;
	width: 25%;
	height: 600px;
    display: inline;
	z-index: 2;
    border-radius: 40px;
}
#hilfe_rechts {
    background: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 21px;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 10px;
    height: 500px;
	text-align: left;
    display: block;
}
#hilfe_Ausgabefeld {
    height: 430px;
    overflow-x: none;
	overflow-y: auto;
}
#hilfe_input_feld {
	position: relative;
	display: block;
	margin: 0;
    width: 100%;
	font-family: sans-serif;
	font-size: 18px;
	color:  rgba(69, 68, 85, 0.86);
	appearance: none;
	box-shadow: none;
	border-radius: none;
	padding: 10px;
  	border: solid 5px #c9c9c9;
  	transition: border-color 0.3s;
}
#hilfe_input_feld:focus {
	outline: none;
	border: solid 5px #969696;
}
.hilfe_input {
    font-family: sans-serif;
	font-size: 18px;
	color:  #454455;
    font-weight: bold;
    
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: right;    
    margin: 5px 20px 5px 45px;
    margin-left: 30%;
}
.hilfe_input:before{
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
}
.hilfe_output {
	font-family: sans-serif;
	font-size: 18px;
	color:  #454455;
    font-weight: bold;
    
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    float: left;
    margin: 5px 45px 5px 20px;
    margin-right: 30%;
}

.hilfe_output:before {  
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}      
    

.linie {
	border :none;
	background-color: black;
	height: 8px;
	margin: 21px 80px 0px 80px;
    border-radius: 100px;
}

/* ----- normalised ----- */

/* --- page structure --- */

footer
{
    background: #454455;
    color: #D7D7D7;
    font-size: 11px;
    height: 15vh;
    padding: 10px;
    text-align: center;
}

#top-menu-container
{
    background: #454455;
    height: 50px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#top-menu
{
    border-collapse: separate;
    border-spacing: 50px 0;
    display: table;
    height: 100%;
}

#top-menu a
{
    display: table-cell;
    height: 100%;
    padding: 0 25px;
    transition: font-size 0.3s;
    vertical-align: middle;
}

#top-menu a:hover
{
    background-color: #333333;
    font-size: 20px;
}

#top-menu a.current
{
    background-color: orange;
    display: table-cell;
    height: 100%;
    padding: 0 25px;
    vertical-align: middle;
}

/* --- elements --- */

p.center { text-align: center; }
p.left { text-align: left; }
p.right { text-align: right; }

p.normalised
{
    line-height: 2;
}

p.greater
{
    font-size: 18px;
}

/* --- pages --- */

article.page
{
    min-height: 100vh;
    padding: 30px;
}

article.page h1 { font-family: "BelindaW00-Regular"; font-size: 55px; font-weight: normal; text-align: center; }

article.page.gray { background-color: #eceae9; color: #000; }

/* --- semantics --- */

#project-member-list
{
    margin: auto;
    width: 75vw;
}

.project-member
{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.project-member:nth-child(odd) .picture { order: 1; }
.project-member:nth-child(odd) .data { order: 2; }

.project-member:nth-child(even) .picture { order: -1; }
.project-member:nth-child(even) .data
{
    order: -2;
    text-align: right;
}

.project-member .picture
{
    flex: 0 1 auto;
}

.project-member .data
{
    flex: 0 1 70%;
    padding: 10px;
}

.project-member .name
{
    font-size: 26px;
    font-weight: bold;
    margin-top: 50px;
}

.project-member .role
{
    margin-top: 10px;
    font-weight: bold;
}

.cloud {
    position: absolute;
    background-image: url("../images/cloud.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100% 100%, cover;
	padding: 50px 30px 10px 30px;
	text-decoration: none;
	border: 0;
	cursor: pointer;
    max-width: 15%;
	
	background-color: Transparent;
	font-family: Arial;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.85);
	font-weight: bold;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	text-align: center;
}
.cloud:hover {
  color: rgba(96, 106, 117, 0.67);
  text-decoration: none;
}
.cloud:focus {
outline: none;
}
#cloud1 {
    top: 15%;
    left: 5%;
}
#cloud2 {
    top: 35%;
    left: 25%;
}
#cloud3 {
    top: 20%;
    left: 50%;
}
